*{
    margin: 0;
    padding: 0;
}

html,body{
    height: 100%;
    width: 100%;
    background-color: rgb(227, 221, 221);
}

header{
    width: 100%;
    height: 130px;
    background-color: rgb(106, 106, 194);
    display: flex;
    align-items: center;
    padding: 20px;
}

.header-name{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 48px;
}

.header-menu{
    display: flex;
    margin-left: 100px;
}

.menu-name a{
    text-decoration: none;
    color: antiquewhite;
    font-size: 30px;
}

.main-page{
    width: 100%;
    height: 100%;
    padding-top: 15px;
}

.title{
    font-size: 48px;
    margin: 50px 0;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.images{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 10px 50px;
}

.members{
    width: 260px;
    height: 350px;
    margin: 25px calc((100% - 900px) / 6) 100px;
}

.image{
    width: 100%;
    height: 300px;
    background-color: rgb(219, 219, 246);
}

.member{
    width: 100%;
    height: 72px;
    background-color: cadetblue;
    border-radius: 5px;
    padding: 3px;
}

.member-name{
    font-size: 24px;
    text-align: center;
}

.member-text{
    font-size: 16px;
    margin: 0 5px;
}

.shows{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 25px calc((100% - 1300px) / 2);
}

.show{
    width: 1300px;
    height: 200px;
    margin-bottom: 70px;
    border-radius: 10px;
    box-shadow: 0 10px 25px 0 rgba(0, 0, 0, .5);
}

.show-title{
    width: 100%;
    height: 50px;
    font-size: 24px;
    color: white;
    background-color: darkblue;
    border-radius: 10px 10px 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.show-text{
    width: 100%;
    height: 150px;
    background-color: rgb(219, 219, 246);
    border-radius: 0 0 10px 10px;
    padding-top: 10px;
}

.text{
    margin: 0 20px;
}

.menu-name{
    margin-right: 45px;
    font-size: 36px;
}

.side-menu{
    width: 180px;
    height: 100%;
    background-color: blueviolet;
}

.contents{
    margin-left: 300px;
}

.content{
    font-size: 40px;
    margin: 70px;
}

ul {
    list-style: none;
  }

.hidden
{
    display: none;
}